.container-beachlist{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}


.filter-grid{
    display: flex;
    justify-content: space-between;
    background-color: #002844;
    color: white;
    padding: 20px;
    width: 50%;
    border-radius: 20px;
    box-shadow: 2px 1px 5px 2px rgba(0, 0, 0, 0.104);

}

.filter-grid p{
    font-size: 26px;
    margin-right: 10px;
}

.filter{
    display: flex;
    align-items: center;
}
 
.filter input{
    margin-right: 5px;
    cursor: pointer;
}


.filter label{
    margin-right: 10px;
}

.filter-grid button{
    padding: 10px 20px;
    background-color: #0388A6;
    border: none;
    color: white;
    border-radius: 10px;
}

.check-list{
    display: flex;
}



.beach-list{
    color: #002844;
}

.beach-list h2{
    color: #002844;
    font-size: 2.5em;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.beach-item{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 25px;  
    margin-bottom: 10px;
}

.learn-more{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.learn-more span{
    background-color: #0388A6;
    padding: 6px;
    border-radius: 5px;
    font-size: 16px;
    color: white;
}


.info{
    display: flex;
    align-items: center;
    width: 20px;
    margin-left: 5px;
}

.info-img{
    width: 100%;
}

.add-beach{
    padding: 15px;
    width: 100%;
    background-color: #00284479;
    text-align: center;
    margin-top: 30px;
}

.add-beach p{
    font-size: 18px;
    color: white;
}

.add-beach button{
    background-color: #0388A6;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 15px;
    font-size: 16px;
}

@media (max-width: 1375px) and (min-width: 0px){

    .filter{
        display: grid;

    }
    .filter p{
        align-self: self-start;
    }

    button{
        align-self: end;
    }
}

@media (max-width: 1200px) and (min-width: 750px){
    .filter-grid{
        width: 80%;
    }

}

@media (max-width: 750px){
    .filter-grid{
        width: 90%;
        font-size: 16px;
    }

    .check-list{
        display: grid;
        grid-template-columns: 1fr;
    }

    .beach-list h2{
        font-size: 2em;
        
    }

    .beach-item p{
        font-size: 22px;
    }

    .beach-item span{
        font-size: 16px;
    }
}





